/*Configure the tab buttons*/
.sheet-character,
.sheet-spells,
.sheet-psionics,
.sheet-config,
.sheet-journal,
.sheet-test {
	display: none;
}

/* hide tab buttons */
.sheet-confspells, 
.sheet-confpsionics {
    display: none;
}

/* show the selected tab */
.sheet-tabstoggle[value="test"] ~ div.sheet-test,
.sheet-tabstoggle[value="character"] ~ div.sheet-character,
.sheet-tabstoggle[value="spells"] ~ div.sheet-spells,
.sheet-tabstoggle[value="psionics"] ~ div.sheet-psionics,
.sheet-tabstoggle[value="configuration"] ~ div.sheet-config,
.sheet-tabstoggle[value="journal"] ~ div.sheet-journal
 {
	display: block;
}

/* reveal tab buttons */
input[value="1"].sheet-showspells ~ .sheet-confspells {
  display: inline;
}
input[value="1"].sheet-showpsionics ~ .sheet-confpsionics {
  display: inline;
}